.yt-icon
{
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;

    & svg
    {
        fill: currentColor;
    }
}