{%- macro search(sb) -%}
    {% set label = sb.placeholderText.runs[0].text %}
    <div class="searchbox" id="search">
        <form action="/results" id="search-form">
            <div class="container">
                <div class="icon" id="search-icon">
                    {{ icon("search") }}
                </div>
                <div id="search-input">
                    <input {{ attr({
                        autocapitalize: "none",
                        autocomplete: "off",
                        autocorrect: "off",
                        name: "search_query",
                        tabindex: 0,
                        spellcheck: false,
                        placeholder: label,
                        ariaLabel: label,
                        role: "combobox",
                        ariaHaspopup: false,
                        ariaAutocomplete: "list"
                    }) }}>
                </div>
            </div>
        </form>
        <button {{ attr({
            id: "search-icon-legacy",
            ariaLabel: label,
            title: label,
            class: "yt-tooltip"
        }) }}>
            <div class="yt-icon">
                {{ icon("search") | safe }}
            </div>
        </button>
    </div>
{%- endmacro -%}