<!DOCTYPE html>
<html>
    <head>
        <title>YouTube</title>
        <link rel="stylesheet" href="/s/cssbin/core.css">
    </head>
    <body class="ybtube-app" data-yt-theme="kevlar" dir="ltr">
        <div id="body-container">
            {% include "masthead.twig" %}
            <div id="page-container">
                <div id="guide">
                </div>
                <div id="page">
                    <div id="content">
                        {#
                            Page is rendered conditionally through these
                            statements.
                        #}
                        {% if page.contents.twoColumnBrowseResultsRenderer %}
                            {% include "browse/browse.twig" %}
                        {% endif %}
                        {% if page.uixTest %}
                            {% include "uixtest.twig" %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/s/jsbin/core.js"></script>
    </body>
</html>